---
title: Le Wagon - Middleman
---
<!-- Your banner code -->
<div class="banner">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.</p>
    <br>
    <form action="#" class="form-inline">
      <input type="text" placeholder="Check-in" class="form-control input-lg">
      <input type="text" placeholder="Check-out" class="form-control input-lg">
      <select class="form-control input-lg">
            <option value="1 person">1 person</option>
            <option value="2 people">2 people</option>
            <option value="3 people">3 people</option>
      </select>
      <input type="sumbit" class="btn btn-primary btn-lg form-submit" value="Search">
    </form>
  </div>
</div>

<!-- Your features code -->
<div class="container text-center">
  <div class="features padded">
    <div>
      <img src="images/globe.png" alt="">
      <h2>Discover the world</h2>
      <p>The earth is your new home.</p>
    </div>
    <div>
      <img src="images/dollar.png" alt="">
      <h2>Pay online</h2>
      <p>No cash issues anymore.</p>
    </div>
    <div>
      <img src="images/beer.png" alt="">
      <h2>Meet people</h2>
      <p>Discover new culture and lifestyle.</p>
    </div>
    <div>
      <img src="images/heart.png" alt="">
      <h2>Share and love</h2>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
